<h3>Botones normales</h3>
<div>
  <button mat-button>Básico</button>
  <button mat-button color="primary">Primario básico</button>
</div>

<h3>Botones con elevación</h3>
<div>
  <button mat-raised-button>Básico</button>
  <button mat-raised-button color="primary">Primario básico</button>
</div>

<h3>Botones con íconos</h3>
<div>
  <button mat-icon-button>
    <mat-icon>grade</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon>grade</mat-icon>
  </button>
</div>

<h3>Botones de acción flotantes (FAB)</h3>
<div>
  <button mat-fab>
    <mat-icon>grade</mat-icon>
  </button>
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
